<header style="background-color:grey;">
    <!-- Header Start -->
         <div class="header-area" color=black>
                 <div class="main-header  header-sticky">
                     <div class="container-fluid">
                         <div class="row align-items-center">
                             <!-- Logo -->
                             <div class="col-xl-2 col-lg-2 col-md-1">
                                 <div class="logo">
                                     <a href="index.html"><img src="assets/img/logo/shubhlogo.png" alt=""></a>
                                 </div>
                             </div>
                             <div class="col-xl-10 col-lg-10 col-md-10">
                                 <div class="menu-main d-flex align-items-center justify-content-end">
                                     <!-- Main-menu -->
                                     <div class="main-menu f-right d-none d-lg-block">
                                         <nav> 
                                             <ul id="navigation">
                                                 <li><a href="index.html">Home</a></li>
                                                 <li><a href="about.html">About</a></li>
                                                 <li><a href="services.html">Services</a>
                                                   <ul class="submenu">
                                                         <li><a href="Augmented_Reality.html">Augmented Reality</a></li>
                                                         <li><a href="UI.html">UI/UX</a></li>
                                                         <li><a href="DevOps.html">DevOps</a></li>
                                                     </ul>
                                                 </li>
                                                 
                                                 <li><a href="contact.html">Contact</a></li>
                                             </ul>
                                         </nav>
                                     </div>
                                     
                                 </div>
                             </div>   
                             <!-- Mobile Menu -->
                             <div class="col-12">
                                 <div class="mobile_menu d-block d-lg-none"></div>
                             </div>
                         </div>
                     </div>
                 </div>
         </div>
         <!-- Header End -->
    </header>