<footer>
    <!-- Footer Start-->
    <div class="footer-area">
        <div class="container">
           <div class="footer-top footer-padding">
               <div class="row justify-content-center">
                   <div class="col-lg-6">
                        <div class="footer-top-cap text-center">
                            <img src="assets/img/logo/footer_logo.png" alt="">
                            <span><a href="#">shubhanshu.mishra13@gmail.com</a></span>
                        </div>
                   </div>
               </div>
           </div>
            <div class="footer-bottom">
                <div class="row d-flex justify-content-between align-items-center">
                    <div class="col-xl-9 col-lg-8">
                        <div class="footer-copy-right">
                            <p>
                              Copyright &copy;Shubhanshu Mishra
                              </p>
                        </div>
                    </div>
                    
                    <div class="col-xl-3 col-lg-4">
                        <!-- Footer Social -->
                        <div class="footer-social f-right">
                            <a>Reach out at</a>
                            <a href="https://twitter.com/_sm28797_"><img src="assets/img/logo/twitter.png" height=20px width=20px></a>
                            <a href="https://www.instagram.com/_sm28797_/"><img src="assets/img/logo/instagram.png" height=20px width=20px></a>
                            <a href="https://www.linkedin.com/in/shubhanshu-mishra-5842b1101"><img src="assets/img/logo/linkedin.png" height=20px width=20px></a>
                            <a href="https://www.github.com/sm28797"><img src="assets/img/logo/github.png" height=20px width=20px></a>
                            <a href="https://bitbucket.org/sm28797/"><img src="assets/img/logo/bitbucket.jpg" height=20px width=20px></a>
                        </div>
                    </div>
                </div>
           </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>