<app-header></app-header>
	<main>

		<!-- Hero Start -->
		<div class="slider-area ">
			<div class="slider-height2 d-flex align-items-center">
				<div class="container">
					<div class="row">
						<div class="col-xl-12">
							<div class="hero-cap">
								<h2>DevOps</h2>
								<nav aria-label="breadcrumb ">
									<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Home</a></li>
									<li class="breadcrumb-item"><a href="#">DevOps</a></li> 
									</ol>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Hero End -->
		<section class="about-area section-paddingt30">
            <div class="container">
                <div class="row ">
                    <div class="col-lg-5">
                        <div class="about-caption mb-50">
                            <h3>Development With Passion and Fun While Exploring The World.</h3>
                            <h4>Different stages of work</h4>
                            <p class="pera1">Successfully developed automated CI/CD pipeline using the automatic triggering on code
                                push/pull to the VCS.</p>
                                <p>Deployed application on AWS instance with help of CodeDeploy and using different service
                                accounts.</p>
                                <p>Build Docker image by creating Dockerfile.</p>
                                <p>Used Openshift Container Orchestration for the deployment of application using containers and
                                Pods. </p>
                        </div>
                    </div>
                    <div class="col-lg-5 offset-lg-1">
                        <div class="about-caption2">
                            <h3>Any Type Of Query<br> & Discussion.</h3>
                            <p>Lets conversate</p>
                           <div class="send-cv">
                                <a href="#">shubhanshu.mishra13@gmail.com</a>
                                <i class="ti-arrow-right"></i>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Area End -->
	</main>
    <app-footer></app-footer>
    
    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>
