<app-header></app-header>



<section class="pt-5 text-center">
  
</section>

<section class="mt-5">
<div class="container">
  <div class="row">
    <div class="col-sm-6" >
    		<img src="./assets/img/logo/login_image.png" style="width: 100%;">
    </div>

    <div  class="col-sm-6 px-5 py-4" style="box-shadow:' 10px 10px 10px 10px grey';">
    	<h2>Create your account</h2>
    
    <form (ngSubmit)="onSubmit()" novalidate method="post" >
        <label for="fname"><b>First Name</b></label>
            <input type="text" [(ngModel)]="userModel.firstName" placeholder="First Name"  name="firstName" required>
        <label for="lname"><b>Last Name</b></label>
            <input type="text" [(ngModel)]="userModel.lastName" placeholder="Last Name"  name="lastName" required>
        <label for="email"><b>Email Id</b></label>
            <input type="text" [(ngModel)]="userModel.email" placeholder="Email"  name="email" required>
        <label for="phone"><b>Phone no.</b></label>
            <input type="text" [(ngModel)]="userModel.phone" placeholder="Phone"  name="phone" required>
        <label for="password"><b>Password</b></label>
            <input type="text" [(ngModel)]="userModel.password" placeholder="Password"  name="password" required>
        <label for="cpassword"><b> Confirm Password</b></label>
            <input type="text" [(ngModel)]="userModel.cpassword" placeholder="Confirm Password"  name="cpassword" required>
        <button type="submit" click="onSubmit">Create Account</button>
    </form>
    </div>
</div>
</div>
</section>
