
    <header style="background-color:grey;">
<!-- Header Start -->
        <div class="header-area" color=black>
                <div class="main-header  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2 col-md-1">
                                <div class="logo">
                                    <a href="index.html"><img src="assets/img/logo/shubhlogo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10 col-md-10">
                                <div class="menu-main d-flex align-items-center justify-content-end">
                                    <!-- Main-menu -->
                                    <div class="main-menu f-right d-none d-lg-block">
                                        <nav> 
                                            <ul id="navigation">
                                                <li><a href="index.html">Home</a></li>
                                                <li><a href="about.html">About</a></li>
                                                <li><a href="services.html">Services</a>
                                                    <ul class="submenu">
                                                        <li><a href="Augmented_Reality.html">Augmented Reality</a></li>
                                                        <li><a href="UI.html">UI/UX</a></li>
                                                        <li><a href="DevOps.html">DevOps</a></li>
                                                    </ul>
                                                </li>
                                                
                                                <li><a href="contact.html">Contact</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                    
                                </div>
                            </div>   
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!-- Header End -->
    </header>
    <main>

        <!-- Hero Start -->
        <div class="slider-area ">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap">
                                <h2>Augmented Reality</h2>
                                <nav aria-label="breadcrumb ">
                                    <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb-item"><a href="#">Augmented Reality</a></li> 
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        <!--================Blog Area =================-->
        <section class="blog_area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mb-5 mb-lg-0">
                        <div class="blog_left_sidebar">
                            <article class="blog_item">
                                <div class="blog_item_img">
                                    <img class="card-img rounded-0" src="assets/img/blog/AR_blog.jpg" alt="">
                                    <a href="#" class="blog_item_date">
                                        <h3>IKEA</h3>
                                    </a>
                                </div>

                                <div class="blog_details">
                                    <a class="d-inline-block" href="blog_details.html">
                                        <h2>Augmented Reality</h2>
                                    </a>
                                    <p>Augmented reality a technology in which we can see the objects in physical world virtually, thus providing a composite view. It gathers a wide variety of user experiences.</p>
                                    <ul class="blog-info-link">
                                        <li><a href="#"><i class="fa fa-user"></i> Enhance Technology</a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i> 8 Comments</a></li>
                                    </ul>
                                </div>
                            </article>

                            <article class="blog_item">
                                <div class="blog_item_img">
                                    <img class="card-img rounded-0" src="assets/img/blog/FDM_blog.png" alt="">
                                    <a href="#" class="blog_item_date">
                                        <h3>FDM</h3>
                                    </a>
                                </div>

                                <div class="blog_details">
                                    <a class="d-inline-block" href="blog_details.html">
                                        <h2>FDM - Furniture Dimension Managing</h2>
                                    </a>
                                    <p>While making the online shopping of the furniture the major problem that the user face is that whether the furniture they like or choose will fir in their home in the available space or not. This makes the online furniture shopping a disaster for the users. The users need to measure each and every dimension of the space available in their home and then match them to each and every furniture available at the online furniture store.</p>
                                    <p>Sometimes the users purchase the furniture and then when the furniture arrives at their doorstep, they realize that it is just not the size they wanted to purchase. This leads to a big failure in the online furniture shopping. The application provides the virtual placing of furniture in the real world so as to signify whether the furniture can be placed in the available space at the house or not.</p>
                                    <p>This tool or application will allow a better user experience by allowing them to view the furniture easily just by sitting at their home and just taking a view of the furniture in their houses. The application can be integrated with the various furniture vendors in the city in order that they can register their stores on the application and provide their furniture models to the user through this application. These vendors can provide the different furniture items available in their store on the application so that the users can view them and contact the store in order to buy the furniture of their choice.</p>
                                    <ul class="blog-info-link">
                                        <li><a href="#"><i class="fa fa-user"></i> Enhance Technology</a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i> 5 Comments</a></li>
                                    </ul>
                                </div>
                            </article>

                            
                            

                            <nav class="blog-pagination justify-content-center d-flex">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a href="#" class="page-link" aria-label="Previous">
                                            <i class="ti-angle-left"></i>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a href="#" class="page-link">1</a>
                                    </li>
                                    <li class="page-item active">
                                        <a href="#" class="page-link">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a href="#" class="page-link" aria-label="Next">
                                            <i class="ti-angle-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog_right_sidebar">
                            <aside class="single_sidebar_widget search_widget">
                                <form action="#">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder='Search Keyword'
                                                onfocus="this.placeholder = ''"
                                                onblur="this.placeholder = 'Search Keyword'">
                                            <div class="input-group-append">
                                                <button class="btns" type="button"><i class="ti-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                        type="submit">Search</button>
                                </form>
                            </aside>

                            <aside class="single_sidebar_widget post_category_widget">
                                <h4 class="widget_title">Category</h4>
                                <ul class="list cat-list">
                                    <li>
                                        <a href="#" class="d-flex">
                                            <p>Augmented Reality</p>
                                            <p>(13)</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="d-flex">
                                            <p>Pokemon</p>
                                            <p>(9)</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="d-flex">
                                            <p>Technology</p>
                                            <p>(45)</p>
                                        </a>
                                    </li>
                                    
                                    <li>
                                        <a href="#" class="d-flex">
                                            <p>Inspirational</p>
                                            <p>(135)</p>
                                        </a>
                                    </li>
                                    
                                </ul>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================Blog Area =================-->

    </main>
    <footer>
        <!-- Footer Start-->
        <div class="footer-area">
            <div class="container">
               <div class="footer-top footer-padding">
                   <div class="row justify-content-center">
                       <div class="col-lg-6">
                            <div class="footer-top-cap text-center">
                                <img src="assets/img/logo/footer_logo.png" alt="">
                                <span><a href="#">shubhanshu.mishra13@gmail.com</a></span>
                            </div>
                       </div>
                   </div>
               </div>
                <div class="footer-bottom">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-9 col-lg-8">
                            <div class="footer-copy-right">
                                <p>
                                  Copyright &copy;Shubhanshu Mishra
                                  </p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4">
                            <!-- Footer Social -->
                            <div class="footer-social f-right">
                                <a>Reach out at</a>
                                <a href="https://twitter.com/_sm28797_"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.instagram.com/_sm28797_/"><i class="fab fa-instagram"></i></a>
                                <a href="https://www.linkedin.com/in/shubhanshu-mishra-5842b1101"><i class="fab fa-linkedin"></i></a>
                                <a href="https://www.github.com/sm28797"><i class="fab fa-github"></i></a>
                                <a href="https://bitbucket.org/sm28797/"><i class="fab fa-bitbucket"></i></a>

                            </div>
                        </div>
                    </div>
               </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>
